*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.HomeContainer {
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-columns: repeat(20, 5vw);
    /* grid-template-rows: repeat(20, 5%); */
    /* height: 100vh; */
    margin: 0.5rem;
}

.NavContainer {
    background-color: rgb(42, 35, 42);
    grid-column: 1/20;
    width: 100%;
    /* grid-row: 1/3; */
}

.SearchBar{
    /* background-color: #0a6da3; */
    background-color: #5c4ab6;
    grid-column: 1/20;
    margin-top: 0.8rem;
    /* grid-row: 3/20; */
}

.navPaginado {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(215, 250, 215, 0.317); */
    grid-column: 1/20;
    height: 40px;
    margin-top: 15px;
    width: 100%;
    /* grid-row: 3/5; */
}

.gamesContainer {
    grid-column: 1/20;
    /* grid-row: 5/20; */
    background-color: transparent;
    /* display: grid; */
    width: 100%;
    /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem)); */
    /* grid-template-columns: auto auto auto auto auto; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: 1fr 1fr; */
    /* gap: 2rem; */
    grid-gap: 1.2rem;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 1rem; */
}

/* .gamesContainer a {
    border: 3px solid aliceblue;
} */

.gamesContainer a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}